@*@model List<Node>*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-1 mt-5">
    @*<span class="d-inline" style="font-size: 2.5em;">
            Tree structure <i class="fas fa-sitemap pl-2"></i>
        </span>*@
    <h1>Tree structure</h1>
</div>

<div class="row">
    <div class="col-12 border-bottom border-warning p-3">

        <div class="d-inline float-left">
            <i id="Add" class="fas fa-folder-plus IcoBtn border-right float-left"></i>


            <i id="Del" class="fas fa-trash-alt IcoBtn border-right float-left disabled"></i>

            <i id="Edit" class="fas fa-edit IcoBtn float-left disabled"></i>
            <i id="SubmitEdit" class="fas fa-check-circle IcoBtn" style="display: none;"></i>
        </div>

        <div class="input-group float-left  w-50 ml-3 ">
            <select class="mdb-select md-form border-bottom w-50">
                <option value="" disabled selected>Move element to...</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <div class="input-group-append ">
                <i id="Move" class="fas fa-check IcoBtn border-left disabled"></i>
            </div>
        </div>

        <div class="float-right">
            <i id="Roll" class="fas fa-angle-double-up IcoBtn float-right"></i>
            <i id="Sort" class="fas fa-sort-alpha-up IcoBtn float-right border-right"></i>
        </div>

    </div>
</div>


<div class="row pt-4">
    <div class="col-12 pr-5 scroll">
        @Html.AntiForgeryToken()
        <ul class="wrap sortable customUlist connectedSortable">

            @*js body*@

        </ul>
    </div>
</div>



