@*@model List<Node>*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="col-12 d-inline-block border-bottom border-warning p-3">
        <i class="fas fa-folder-plus p-3"></i>
        <i class="fas fa-edit p-3"></i>
        <i class="fas fa-trash-alt p-3"></i>


        <i class="fas fa-sort-alpha-up"></i>
        @*<i class="fas fa-sort-alpha-down"></i>*@
    </div>
</div>
<div class="row pt-4">

    <div class="col-12">
        <ul class="wrap sortable customUlist"></ul>
    </div>

</div>





@*<ul class="sortable pt-5 customUlist">


    <li class="ui-state-default m-0 p-0">
        <div class="flexbox">
            <div class="d-inline ">
                <i class="fas fa-caret-right text-center arrowIcon"></i>
            </div>

            <div class="d-inline customElement pl-1">
                Parent 1
            </div>
        </div>


        <ul class="sortable customUlist connectedSortable">

            <li class="ui-state-default m-0 p-0 flexbox">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Item 1
                </div>
            </li>

            <li class="ui-state-default m-0 p-0 flexbox">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Item 2
                </div>
            </li>
            <li class="ui-state-default m-0 p-0 flexbox">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Item 3
                </div>
            </li>
            <li class="ui-state-default m-0 p-0 flexbox">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Item 4
                </div>
            </li>
        </ul>
    </li>




    <li class="ui-state-default m-0 p-0">
        <div class="d-inline ">
            <i class="fas fa-caret-right text-center arrowIcon"></i>
        </div>

        <div class="d-inline customElement pl-1">
            Parent 2
        </div>

        <ul class="sortable customUlist connectedSortable" style="color:red;">
            <li class="ui-state-default m-0 p-0 flexbox">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Item 44
                </div>

            <li class="ui-state-default m-0 p-0">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Parent child
                </div>

                <ul class="sortable customUlist connectedSortable" style="color:red;">
                    <li class="ui-state-default m-0 p-0 flexbox">
                        <div class="d-inline ">
                            <i class="fas fa-caret-right text-center arrowIcon"></i>
                        </div>

                        <div class="d-inline customElement pl-1">
                            Item 44
                        </div>
                    </li>
                    <li class="ui-state-default m-0 p-0 flexbox">
                        <div class="d-inline ">
                            <i class="fas fa-caret-right text-center arrowIcon"></i>
                        </div>

                        <div class="d-inline customElement pl-1">
                            Item 55
                        </div>
                    </li>
                </ul>
            </li>



            <li class="ui-state-default m-0 p-0 flexbox">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Item 55
                </div>
            </li>
        </ul>
    </li>


    <li class="ui-state-default m-0 p-0">
        <div class="d-inline ">
            <i class="fas fa-caret-right text-center arrowIcon"></i>
        </div>

        <div class="d-inline customElement pl-1">
            Parent 3
        </div>

        <ul class="sortable customUlist connectedSortable" style="color:red;">
            <li class="ui-state-default m-0 p-0 flexbox">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Item 44
                </div>
            </li>
            <li class="ui-state-default m-0 p-0 flexbox">
                <div class="d-inline ">
                    <i class="fas fa-caret-right text-center arrowIcon"></i>
                </div>

                <div class="d-inline customElement pl-1">
                    Item 55
                </div>
            </li>
        </ul>
    </li>
</ul>*@


